html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #333;

}

/* Styling af grid på forsiden start*/
.front-page-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 4em;
    grid-template-areas:
        '. HCL .'
        '. Design .'
        '. Kommunikation .'
        '. Portfolio .'
        '. Kilder .'
    ;
}


#HCL {
    grid-area: HCL;

}

#Design {
    grid-area: Design;
}

#Kommunikation {
    grid-area: Kommunikation;
}

#Portfolio {
    grid-area: Portfolio;
}

#Kilder {
    grid-area: Kilder;
}

.front-page-container {
    border-top: 1px solid black;
}

/* Styling af grid på forsiden slut */


/* Stlyng a billeder start */
img {

    display: block;
    max-width: 250px;
    margin: auto;
    margin-top: 1.5em;
    margin-bottom: 1.5em;

}

#frontpage-logo {

    display: block;
    max-width: 300px;
    margin: auto;
}



/* Stlyng a billeder slut */

/* Styling af øverste logo start */
.logo img {
    max-width: 100px;

}

header>section {
    background-color: #333;
}

/* Styling af logo slut */


/* Styling af banner billeder i teksten */
.banner {
    max-width: 80%;
    margin: 0;
    max-width: 100%;
    text-align: center;
    display: inline;

}

#direct-img {
    color: #f69c55;
    text-decoration-line: underline;
}


h1 {
    text-align: center;
    font-size: 1.5em;
    color: white;
    margin: 1em 0 1em 0;
    font-family: 'Fugaz One', cursive;
    font-weight: lighter;
}

/* Styling af headers start */
h2 {
    font-family: 'Dosis', sans-serif;
    color: #a1551b;
    font-size: 2em;
    line-height: 1em;
}

h3,
h4 {
    font-family: 'Dosis', sans-serif;

}

h3 {
    text-align: center;
}

h4 {
    margin-top: 0;
}


h3:not(:first-child) {
    margin-top: 3em;
}

section>ul>h5 {
    font-size: 1.5em;
    font-family: 'Kanit'sans-serif;

}



/* Styling af headers slut */

/* Syling af tekst start */
p {
    border: 3px solid #f69c55;
    width: auto;
    padding: 20px;
    text-align: justify;
    line-height: 20px;
    font-family: 'Heebo', sans-serif;

}

span {
    display: block;
    text-align: center;
}

#source-tekst {
    font-style: italic;
    font-size: 0.8em;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

/* Syling af tekst slut */

/* Styling af baggrunden til menuen */
ul {
    width: 100%;
    background-color: #333;
    margin: 0;
    padding: 0;
    overflow: auto;
    text-align: center;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    
}

section>ul{
    margin-top: 20px;
}


/* Styling af kilde links start */

span>b>a {
    text-decoration: none;
    color: #f69c55;
}

span>b>a:-webkit-any-link {
    text-decoration: none;
    color: #f69c55;
    font-family: 'Heebo', sans-serif;
    padding: 0;
}


/* Styling af kilde links slut */


/* Tvinger de forskellige menuen til at stå på samme række */
#menu-list {
    display: inline-block;
    text-align: center;
}

/* Styling af texten i menuerne */
li a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Fugaz One', cursive;
    font-size: 0.8em;
}

/* Styling af menu text knapper start*/
a:active {
    background-color: rgb(128, 80, 49);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


/* Styling af lists i teksten start */
section>ul {
    background-color: white;
    width: auto;
    border: 3px solid #f69c55;
    line-height: 20px;
    padding: 20px;
    text-align: justify;
    font-family: 'Heebo', sans-serif;


}

section>ul>li {
    padding: 1em;


}

ul:not(#ul-tekst-style) {
    list-style-type: none;
}

#tekst-img {
    padding: 1em 0 1em 0;
}

#ol-tekst-style,
#ul-tekst-style {
    background-color: white;
    width: auto;
    line-height: 20px;
    padding: 20px;
    text-align: center;

}

#li-tekst-style {
    margin-top: 1em;
    list-style-type: none;

}


/* Styling af lists i teksten slut */


/* Styling af til top knap start */
#totop {
    position: fixed;
    bottom: 60px;
    right: 10px;
    margin: 0px;
    width: 50px;
    z-index: 999;

}

#totop>img {
    width: 50px;
}

#totop:active {
    background-color: rgb(85, 83, 83);
}

/* Styling af til top knap slut */


/* Styling af collapsible bokse start */
.collapsible {
    background-color: rgb(129, 81, 49);
    color: white;
    cursor: pointer;
    padding: 2em;
    margin: 1em 0 1em 0;
    width: 100%;
    text-align: center;
    border: 1px solid #333;
    border-radius: 20px;
    outline: none;
    font-size: 1.5em;
}

.content {
    padding: 0px 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    text-align: center;
    transition: max-height 0.2s ease-out;
    border-radius: 20px;
    clear: both;
}

.active {
    background-color: rgb(194, 113, 59);


}

/* Styling af collapsible bokse slut */



/* Styling af footer start */
footer {
    bottom: 0;
    width: 100%;
    background-color: #333;
    position: sticky;
    padding: 1em 0 1em 0;
    color: white;
    text-align: center;
    clear: both;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-family: 'Fugaz One', cursive;
    font-size: 0.8em;

}

/* Styling af footer slut */

/* Styling af desktop start */

@media screen and (min-width: 1000px) {

    img {

        display: block;
        width: 100%;
        margin-top: 1.5em;
        margin-bottom: 1.5em;

    }


    .collapsible {
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;
        margin-top: 2em;

    }

    .content {

        margin-left: 30%;
        margin-right: 30%;
    }

    li a,
    .dropbtn {

        font-size: 1em;
    }

    footer {

        font-size: 1em;
    }

}

/* Styling af desktop slut */